### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [88]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [89]:
purchase_data.head(5) #get a glance at the table

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [99]:
SN = purchase_data.iloc[:,2]
SN_count = SN.count()
f'There are {SN_count} players.'

'There are 780 players.'

## Purchasing Analysis (Total)

In [91]:
item_number = item_id.unique()
len(item_number)

183

In [106]:
item_id = purchase_data.iloc[:,3]
item_id.head()

0    Male
1    Male
2    Male
3    Male
4    Male
Name: Gender, dtype: object

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
item_number = item_id.unique()
num_of_items = len(item_number)
f'In this game we can see that there are {num_of_items} unique in-game purchases.'

#df = pd.DataFrame([item_number, num_of_items])

df["SN"]

KeyError: 'SN'

In [ ]:
price = purchase_data.iloc[:,6]
total_to_calculate_average = price.sum()
average = total_to_calculate_average/num_of_items
rounded = round(average,2)
#There's probably a function that returns averages, but I 
#forgot it and this seemed faster than looking it up on 
#Stack Overflow. Actually, it probably was slower.
f'The average price of an in-game item is ${rounded}0.'

In [108]:
df1 = pd.DataFrame(SN, item_id)
df1.head()

        Age
Gender
Male    NaN
Male    NaN
Male    NaN
Male    NaN
Male    NaN

In [ ]:
item_id = SN = purchase_data.iloc[:,4]
item_id.head()

In [ ]:
item_number = item_id.unique()
len(item_number) 
#We're looking at 179 unique items.
number_of_items = len(item_number)
number_of_items

In [ ]:
purchase_id = purchase_data.iloc[:,0]
purchase_id.head()

In [ ]:
price = purchase_data.iloc[:,6]
total_to_calculate_average = price.sum()
average = total_to_calculate_average/number_of_items
round(average,2)
#There's probably a function that returns averages, but I 
#forgot it and this seemed faster than looking it up on 
#Stack Overflow. Actually, it probably was slower.

In [ ]:
df = pd.DataFrame(SN, purchase_id)

In [104]:
df.head()

             Item ID
Purchase ID
0                108
1                143
2                 92
3                100
4                131

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [105]:
SN.unique() # Get the correct formatting to use in loops to scan strings in rows.

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45])

In [ ]:
male_count = 0 
other_count = 0
female_count = 0

#Setting some Counters

In [ ]:
for i in SN:
    if i == "Male":
        male_count += 1
        
for i in SN:
    if i == "Other / Non-Disclosed":
        other_count += 1

for i in SN:
    if i == "Female":
        female_count += 1        
        
#For loop to count Males, Others, and Females in range.


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
summary_data_frame = pd.DataFrame(gender, item_id)
summary_data_frame.head()

NameError: name 'gender' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame